@model AplicacaoMedicina.Models.Paciente

@{
    Layout = "";
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png" />
    <link rel="icon" type="image/png" href="../assets/img/favicon.png" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>Doutor Simples - Saúde ao seu Alcance</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    <link rel="apple-touch-icon" sizes="57x57" href="../../Content/img/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../../Content/img/favicons/apple-touch-icon-60x60.png">
    <link rel="icon" type="image/png" href="../../Content/img/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="../../Content/img/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="../../Content/img/favicons/manifest.json">
    <link rel="shortcut icon" href="../../Content/img/favicons/favicon.ico">
    <meta name="msapplication-TileColor" content="#00a8ff">
    <meta name="msapplication-config" content="../../Content/img/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">


    <link rel="stylesheet" href="../Content/styles.css" />
    <link href="~/Content/doctorStyles/material-dashboard.css" rel="stylesheet" />


    <link rel="stylesheet" href="~/Content/doctorStyles/demo.css" rel="stylesheet" />

    @Styles.Render("~/Content/doctorStyles/css")

    <!--     Fonts and icons     -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,300|Material+Icons' rel='stylesheet' type='text/css'>

</head>

<body>

    <div id="loading">
        <div id="spinner"></div>
    </div>

    <div id="myModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="inbox-body">
                    <div class="modal-header">
                        <h4>E-Mail Inválido</h4>
                    </div>

                    <div class="modal-body"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="wrapper">

        <div class="content">
            <div class="container-fluid">
                <div class="row">

                    <div class="col-md-12" style="margin-top: 6%;">
                        <div class="card card-profile">

                            <div class="card-avatar">

                                <a href="">
                                    <img class="img" src="../../Content/images/user_icon_fill.png" />
                                </a>

                            </div>

                            <div class="content">

                                <style>
                                    .row {
                                        width: 90% !important;
                                        padding-left: 10% !important;
                                        padding-right: 0px !important;
                                        margin: 0;
                                    }

                                    .control-label {
                                        left: 0;
                                    }

                                    input[type=number]::-webkit-outer-spin-button,
                                    input[type=number]::-webkit-inner-spin-button {
                                        -webkit-appearance: none;
                                        margin: 0;
                                    }

                                    input[type=number] {
                                        -moz-appearance: textfield;
                                    }

                                    .error {
                                        color: #c13434 !important;
                                    }
                                </style>
                                <h6 class="category text-gray"></h6>
                                <h4 class="card-title">Cadastre pelo o Facebook</h4>

                                <div class="row">
                                    <div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="login_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="false" scope="public_profile,email" onlogin="checkLoginState();"></div>
                                </div>

                                <hr />
                                <h6 class="category text-gray"></h6>
                                <h4 class="card-title">Cadastre seus dados</h4>
                                <p>Paciente</p>
                                <div class="card-content">

                                    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "signUp" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">E-mail</label>
                                                    @Html.EditorFor(model => model.Email_Paci, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.Email_Paci, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Sexo</label>

                                                    <style>
                                                        ul li {
                                                            display: inline;
                                                            margin-right: 10px;
                                                        }
                                                    </style>

                                                    <ul style="list-style:none;">
                                                        <li>
                                                            <label class="mdl-radio mdl-js-radio" for="Sexo_Paci">
                                                                <input type="radio" class="mdl-radio mdl-js-radio" name="Sexo_Paci" id="Sexo_Paci" value="Masculino"><span class="mdl-radio__label">Masculino</span>
                                                            </label>
                                                        </li>
                                                        <li>
                                                            <label class="mdl-radio mdl-js-radio" for="Sexo_Paci">
                                                                <input type="radio" class="mdl-radio mdl-js-radio" name="Sexo_Paci" id="Sexo_Paci" value="Feminino"><span class="mdl-radio__label">Feminino</span>
                                                            </label>
                                                        </li>
                                                    </ul>

                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Nome Completo</label>
                                                    @Html.EditorFor(model => model.Nome_Paci, new { htmlAttributes = new { @class = "form-control", @minlength = 5 } })
                                                    @Html.ValidationMessageFor(model => model.Nome_Paci, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Telefone</label>
                                                    @Html.EditorFor(model => model.Telefone_Paci, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.Telefone_Paci, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">CEP</label>
                                                    @Html.EditorFor(model => model.CEP_Paci, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.CEP_Paci, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Endereço</label>
                                                    @Html.EditorFor(model => model.Endereco_Paci, new { htmlAttributes = new { @class = "form-control", @minlength = 5 } })
                                                    @Html.ValidationMessageFor(model => model.Endereco_Paci, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Bairro</label>
                                                    @Html.EditorFor(model => model.Bairro_Paci, new { htmlAttributes = new { @class = "form-control", @minlength = 5 } })
                                                    @Html.ValidationMessageFor(model => model.Bairro_Paci, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Numero</label>
                                                    @Html.EditorFor(model => model.Numero_Paci, new { htmlAttributes = new { @class = "form-control", @type = "number" } })
                                                    @Html.ValidationMessageFor(model => model.Numero_Paci, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Cidade</label>
                                                    @Html.EditorFor(model => model.Cidade_Paci, new { htmlAttributes = new { @class = "form-control", @minlength = 5 } })
                                                    @Html.ValidationMessageFor(model => model.Cidade_Paci, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Estado</label>
                                                    @Html.EditorFor(model => model.Estado_Paci, new { htmlAttributes = new { @class = "form-control", @minlegth = 5 } })
                                                    @Html.ValidationMessageFor(model => model.Estado_Paci, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">CPF</label>
                                                    @Html.EditorFor(model => model.CPF_Paci, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.CPF_Paci, "", new { @class = "text-danger" })
                                                    @if (ViewBag.CPF != null)    {
                                                        <span id="SpanCPF_Paci"class="field-validation-error text-danger" data-valmsg-for="CPF_Paci" data-valmsg-replace="true">CPF Inválido</span>
                                                    }
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">RG</label>
                                                    @Html.EditorFor(model => model.RG_Paci, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.RG_Paci, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Senha</label>
                                                    <input type="password" name="Senha_UsuPaci" id="Senha_UsuPaci" class="form-control" />
                                                    <span class="material-input"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Confirmar Senha</label>
                                                    <input type="password" id="Confirma_UsuPaci" class="form-control" />
                                                    <span class="material-input"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group label-floating">
                                                    <span class="field-validation-error text-danger" data-valmsg-for="Senha_UsuPaci" data-valmsg-replace="true"><p id="valida" style="visibility:hidden;">Senhas não coincidem</p></span>
                                                </div>
                                            </div>
                                        </div>


                                        <button id="send" type="submit" class="btn btn-primary pull-center">Cadastrar</button>

                                        <div class="clearfix"></div>
                                    }

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

</body>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/doctorScripts")
@Scripts.Render("~/bundles/date")
@Scripts.Render("~/bundles/inputmask")


<script>
    $(document).ready(function () {
        $("#Telefone_Paci").inputmask({ "mask": "(99) [9]9999-9999", "placeholder": "" });
        $("#CEP_Paci").inputmask({ "mask": "99999-999", "placeholder": "" });
        $("#CPF_Paci").inputmask({ "mask": "999.999.999-99", "placeholder": "" });
        $("#RG_Paci").inputmask({ "mask": "99.999.999-9", "placeholder": "" });
    });
</script>


<script>
    window.fbAsyncInit = function () {
        FB.init({
            appId: '1115640525247131',
            cookie: true,
            xfbml: true,
            version: 'v2.8'
        });
        FB.AppEvents.logPageView();
    };

    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.9&appId=1115640525247131";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    function checkLoginState() {
        FB.getLoginStatus(function (response) {

            if (response.status == "connected") {
                var access_token = response.authResponse.accessToken;

                $.ajax({
                    type: "POST",
                    url: '../UsuarioPaciente/AcaoFacebook',
                    data: { facebookToken: access_token },
                    success: function (response) {

                        if (response.message == "login") {
                            window.location = "/Paciente/Dashboard";
                        }

                        if (response.message == "create") {
                            window.location = "/Paciente/Edit";
                        }

                        if (response.message == "Email") {
                            $('#myModal').modal({
                                keyboard: true
                            }, 'show');
                        }

                    }
                });
            }
        });
    }

    $(document).ready(function () {


        $(document).ajaxStart(function () {
            $("#loading").attr("style", "visibility: visible");
        }).ajaxStop(function () {
            $("#loading").attr("style", "visibility: hidden");
        });

        $("#signUp").validate({
            rules: {
                Email_Paci: {
                    required: true,
                    minlength: 10,
                    email: true
                },
                Nome_Paci: {
                    required: true,
                    minlength: 5
                },
                Telefone_Paci: {
                    minlength: 14
                },
                CEP_Paci: {
                    required: true,
                    minlength: 8
                },
                Endereco_Paci: {
                    required: true,
                    minlength: 5
                },
                Cidade_Paci: {
                    required: true,
                    minlength: 5
                },
                Estado_Paci: {
                    required: true,
                    minlength: 2
                },
                CPF_Paci: {
                    required: true,
                    minlength: 12
                },
                RG_Paci: {
                    required: true,
                    minlength: 12
                },
                Senha_UsuPaci: {
                    required: true,
                    minlength: 5
                },
                Confirma_UsuPaci: {
                    required: true,
                    minlength: 5,
                    equalTo: "#Senha_UsuPaci"
                }
            },
            messages: {
                Email_Paci: {
                    required: "Campo E-Mail requerido",
                    minlength: jQuery.validator.format("Por favor, insira ao menos 10 caracteres"),
                    email: "Por favor, entre um E-mail válido"
                },
                Nome_Paci: {
                    required: "Campo Nome requerido",
                    minlength: jQuery.validator.format("Por favor, insira ao menos 5 caracteres")
                },
                Telefone_Paci: {
                    minlength: jQuery.validator.format("Por favor, insira ao menos 10 caracteres")
                },
                CEP_Paci: {
                    required: "Campo CEP requerido",
                    minlength: jQuery.validator.format("Por favor, insira ao menos 8 caracteres")
                },
                Endereco_Paci: {
                    required: "Campo Endereço requerido",
                    minlength: jQuery.validator.format("Por favor, insira ao menos 5 caracteres")
                },
                Cidade_Paci: {
                    required: "Campo Cidade requerido",
                    minlength: jQuery.validator.format("Por favor, insira ao menos 5 caracteres")
                },
                Estado_Paci: {
                    required: "Campo Estado requerido",
                    minlength: jQuery.validator.format("Por favor, insira ao menos 2 caracteres")
                },
                CPF_Paci: {
                    required: "Campo CPF requerido",
                    minlength: jQuery.validator.format("Por favor, insira ao menos 5 caracteres")
                },
                RG_Paci: {
                    required: "Campo RG requerido",
                    minlength: jQuery.validator.format("Por favor, insira ao menos 12 caracteres")
                },
                Senha_UsuPaci: {
                    required: "Por favor insira a Senha",
                    minlength: "Senha muito curta"
                },
                Confirma_UsuPaci: {
                    required: "Por favor confirme sua Senha",
                    minlength: "Senha muito curta",
                    equalTo: "Senhas não coincidem"
                }
            }
        });

    });

    $("#CEP_Paci").on("blur", function () {

        var url = "https://viacep.com.br/ws/" + $("#CEP_Paci").val().replace(/\D/g, '') + "/json/?callback=";

        console.log(url);

        $.ajax({
            url: url,
            type: 'GET',
            success: function (dados) {

                var end = dados.logradouro + " " + dados.complemento;

                console.log(dados);

                if (dados.erro != true) {
                    $("#Cidade_Paci").val(dados.localidade);
                    $("#Estado_Paci").val(dados.uf);
                    $("#Endereco_Paci").val(end);
                    $("#Bairro_Paci").val(dados.bairro);

                    $("#Cidade_Paci").parent().removeClass("is-empty");
                    $("#Estado_Paci").parent().removeClass("is-empty");
                    $("#Endereco_Paci").parent().removeClass("is-empty");
                    $("#Bairro_Paci").parent().removeClass("is-empty");

                } else {
                    $("#Cidade_Paci").val("");
                    $("#Estado_Paci").val("");
                    $("#Endereco_Paci").val("");
                    $("#Bairro_Paci").val("");
                }


            }, error: function (x, y, err) {
                // alert("Operação não efetuada");
            }
        });

    });  
</script>

<script>
    $("#CPF_Paci").on('blur', function(){
        $("#SpanCPF_Paci").remove();
    });
</script>




</html>
